/*********************************************************
 * Name: 		Multiple Options Open Source Toolkit (MOOST)
 * Version: 	v0.1-alpha
 * Author:		Gaizka González Graña (gaizka.gzgr@gmail.com)
 * License: 	MIT
 * Copyright 2017 - i++
 ************************************/

////////////////////////////////////////////////////////////////////////////////////
/////////////////////////// VAR CONFIG  ///////////////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400:Raleway')
$font1		 	: 'Roboto', sans-serif
$font2			: 'Raleway', sans-serif
$fontSize		: 16px
$bg				: #F3F3F3
$primaryColor 	: #222
$secondaryColor : #777
///////////////////  ALERTS ////////////////
$alertX 		: 45px
$alertY 		: 20px
$alertBorder 	: true
$alertBRadius 	: false
$alertBRadiuspx	: 4px
$alertFullWidth : true
/////////////////// BUTTONS ////////////////
$btnX 			: 45px
$btnY 			: 15px
$btnBorder 		: true
$btnShade		: true
$btnHover		: true
$btnBRadius 	: false
$btnBRadiuspx	: 4px 
/////////////////////////////////////////////////////////////////////////////

	
*
	padding: 0
	margin: 0

a
	text-decoration: none

body
	font-family: $font1
	font-size: $fontSize
	font-weight: 400
	background: $bg
	color: #000


////////////////// MIXING ///////////////////////////////////////////////////////////////////////////////////////////////////////
=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius

=background($r,$g,$b,$a,$r2,$g2,$b2,$a2)
	background: rgba($r,$g,$b,$a)
	background: -moz-linear-gradient(top, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%)
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($r,$g,$b,$a)), color-stop(100%, rgba($r2,$g2,$b2,$a2)))
	background: -webkit-linear-gradient(top, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%)
	background: -o-linear-gradient(top, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%)
	background: -ms-linear-gradient(top, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%)
	background: linear-gradient(to bottom, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%)
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////// IMPORTS //////////////////////
@import import/alerts
@import import/buttons
////////////////////////////////////////////////
	
	

	
