/*********************************************************
 * Name:		Multiple Options Open Source Toolkit (MOOST)
 * Version:		v0.5-alpha
 * Author:		Gaizka González Graña (gaizka.gzgr@gmail.com)
 * License:		MIT (https://github.com/Gaizka-gzgr/Multiple-Options-Open-Source-Toolkit-MOOST-/blob/master/LICENSE)
 * Copyright 2017 - i++
 ************************************/

////////////////////////////////////////////////////////////////////////////////////
/////////////////////////// VAR CONFIG  ///////////////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400:Raleway')
$font1          : 'Roboto', sans-serif
$font2          : 'Raleway', sans-serif
$fontSize       : 16px
$bg             : #fff
$primaryColor 	: #222
$secondaryColor : #777
$basicColor		: #00acee
$secondaryColor	: #888888
$blackColor		: #000000
$completeColor	: #49c116
$errorColor		: #d40808
$warningColor	: #d48c08
$infoColor		: #a10dd0

///////////////////  ALERTS ////////////////
$alertX			: 2.1rem
$alertY			: 1rem
$alertBorder 	: true
$alertBRadius 	: false
$alertBRadiuspx	: 4px
$alertFullWidth : true
/////////////////// BUTTONS ////////////////
$btnX           : 2rem
$btnY           : 1rem
$btnBorder      : true
$btnShade       : true
$btnHover       : true
$btnBRadius     : true
$btnBRadiuspx   : 4px
$btnoBRadius 	: false
$btnoBRadiuspx 	: 4px
/////////////////// PANELS ////////////////
$panelPadding	: 10px
$panelBorder	: true
$panelgBorder	: true
$panelgBorderpx	: 2px
$panelBRadius	: true
$panelgBRadius	: false
$panelBRadiuspx	: 5px
$panelgBRadiuspx: 5px
$panelCContent	: #6f6f6f
$panelGCContent	: #fff
$panelBackColor	: #f7f7f7
$panelHeadSize	: 1.2rem
$panelgOpacity 	: .8
/////////////////// FORM ////////////////
$formPadding	: 0.6rem
$formBorderColor: #d2d2d2
$formBRadiuspx	: 5px
$finputPadding	: 1rem
$finputBorder	: true
$finputBRadius	: true
$inputBRadiuspx	: 5px
$finputColor	: #777
/////////////////// TITLES ////////////////
$titlePadding	: 1rem
$titleColor		: #fff
$titlelBorderpx	: 2px
/////////////////// EFFECTS ////////////////
$glowDensity	: 10px
/////////////////////////////////////////////////////////////////////////////


/*====== MOBILE =========*/
@media (min-width: 576px)
.container
	max-width: 540px

/*====== TABLET =========*/
@media (min-width: 768px)
.container
	max-width: 720px

/*====== TABLET LARGER =========*/
@media (min-width: 992px)
.container
	max-width: 960px

/*====== DESKTOP =========*/
@media (min-width: 1200px)
.container
	max-width: 1140px

////////////////// MIXING ///////////////////////////////////////////////////////////////////////////////////////////////////////
=border-bottom-right-radius($radius)
	-webkit-border-bottom-right-radius: $radius
	-moz-border-bottom-right-radius:    $radius
	-ms-border-bottom-right-radius:     $radius
	border-bottom-right-radius:         $radius

=border-bottom-left-radius($radius)
	-webkit-border-bottom-left-radius: $radius
	-moz-border-bottom-left-radius:    $radius
	-ms-border-bottom-left-radius:     $radius
	border-bottom-left-radius:         $radius

=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius

=background($r,$g,$b,$a,$r2,$g2,$b2,$a2)
	background: rgba($r,$g,$b,$a)
	background: -moz-linear-gradient(top, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%)
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($r,$g,$b,$a)), color-stop(100%, rgba($r2,$g2,$b2,$a2)))
	background: -webkit-linear-gradient(top, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%)
	background: -o-linear-gradient(top, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%)
	background: -ms-linear-gradient(top, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%)
	background: linear-gradient(to bottom, rgba($r,$g,$b,$a) 0%, rgba($r2,$g2,$b2,$a2) 100%)
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


////////////////// IMPORTS //////////////////////
@import import/basic
@import import/alerts
@import import/buttons
@import import/panel
@import import/forms
@import import/titles
@import import/filter
@import import/icons
@import import/effects

////////////////////////////////////////////////
