.btn, .btno
	display: inline-block
	text-align: center
	padding: $btnY $btnX
	font-family: $font2
	color: #fff
	font-size: 1rem
	border: 1px solid transparent
	@if $btnBRadius == true
		+border-radius($btnBRadiuspx)
	transition: all .15s ease-in-out

.btn
	@if $btnBRadius == true
		+border-radius($btnBRadiuspx)

.btno
	@if $btnoBRadius == true
		+border-radius($btnoBRadiuspx)

.btn:hover
	@if $btnHover == true
		cursor: pointer
		opacity: .8
	
.btno:hover
	cursor: pointer

.btn-fwidth
	display: block
	width: 100%

.btn-basic
	background-color: #00acee
	@if $btnBorder == true
		border-color: #009ad6
	@if $btnShade == true
		+background(0,171,238,1,0,153,214,1)

.btn-secondary
	background-color: #888888
	@if $btnBorder == true
		border-color: #7a7a7a
	@if $btnShade == true
		+background(136,136,136,1,122,122,122,1)

.btn-black
	background-color: #000
	@if $btnBorder == true
		border-color: #191919
	@if $btnShade == true
		+background(0,0,0,1,25,25,25,1)

.btn-complete
	background-color: #49c116
	@if $btnBorder == true
		border-color: #41ad13
	@if $btnShade == true
		+background(73,193,22,1,65,173,19,1)

.btn-error
	background-color: #ec0909
	@if $btnBorder == true
		border-color: #d40808
	@if $btnShade == true
		+background(236,9,9,1,212,8,8,1)

.btn-warning
	background-color: #ec9c09
	@if $btnBorder == true
		border-color: #d48c08
	@if $btnShade == true
		+background(236,157,9,1,212,141,8,1)

.btn-info
	background-color: #b30fe8
	@if $btnBorder == true
		border-color: #a10dd0
	@if $btnShade == true
		+background(178,15,232,1,163,13,208,1)

.btn-link
	background: none
	color: $primaryColor 
	
.btno-basic
	background: none
	color: #00acee
	border-color: #00acee

.btno-basic:hover
	background-color: #00acee
	color: #fff

.btno-secondary
	background: none
	color: #888888
	border-color: #888888

.btno-black
	background: none
	color: #000
	border-color: #000

.btno-black:hover
	background-color: #000
	color: #fff

.btno-secondary:hover
	background-color: #888888
	color: #fff

.btno-complete
	background: none
	color: #49c116
	border-color: #49c116

.btno-complete:hover
	background-color: #49c116
	color: #fff

.btno-error
	background: none
	color: #ec0909
	border-color: #ec0909

.btno-error:hover
	background-color: #ec0909
	color: #fff

.btno-warning
	background: none
	color: #ec9c09
	border-color: #ec9c09

.btno-warning:hover
	background-color: #ec9c09
	color: #fff

.btno-info
	background: none
	color: #b30fe8
	border-color: #b30fe8

.btno-info:hover
	background-color: #b30fe8
	color: #fff

.btno-stealth
	background: none

.btno-stealth:hover
	background-color: rgba(0,0,0,.1)